<h1>Blog Post #<%= @post.id %></h1>

<h2><%= @post.title %></h2>
<h3>By <%= @post.author.try(:name) || "Anonymous" %></h3>
<h3>First posted <%= @post.created_at.to_date %></h3>
<p><%= @post.content %></p>

<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.content %><br>
      <%= comment.try(:author).try(:name) || "Anonymous" %>
    <%= link_to("Delete", post_comment_path(@post, comment), method: :delete) %>
    </li>
  <% end %>
</ul>

<li><%= link_to("Leave a comment", new_post_comment_path(@post)) %></li>


<li><%= link_to("Back to posts", posts_path) %></li>
